.uicon{
    background-color: #656565;
    color: #fff;
    font-size: 22px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.small{
        width: 40px;
        height: 40px;
    }
    &.light{
        background-color: #fff;
        color: #000;
    }
}