.udw{
    position: relative;
    .user-popup{
        position: relative;
        .user-details{
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 5px;
            transition: all 200ms ease;
            &.active{
                background-color: rgba(0, 0, 0, 0.1);
            }
            &:hover{
                background-color: rgba(0, 0, 0, 0.05);
            }
            span{
                margin-left: 10px;
                user-select: none;
            }
        }
        .user-popup-wrap{
            display: none;
            position: absolute;
            right: 0px;
            top: 110%;
            width: 180px;
            background-color: #fff;
            box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
            z-index: 100;
            padding: 10px 0px;
            &.show{
                display: block
            }
            .user-popup-option{
                padding: 10px 20px;
                cursor: pointer;
                text-transform: uppercase;
                user-select: none;
                transition: all 300ms ease;
                text-align: left;
                &:hover{
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
        }
    }
}