.add-note-wrap{
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    min-width: 750px;
    max-width: 750px;
    .close-btn{
        position: absolute;
        right: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        background-image: url("../../images/close.svg");
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        border-radius: 5px;
        transition: all 200ms ease;
        z-index: 11;
        &:hover{
            background-color: #eee;
        }
    }

    .top-section{
        padding: 20px;
        .title{
            font-size: 18px;
            font-weight: bold;
        }
    
        .add-note-content{
            margin-top: 20px;
            .nt{
                input{
                    font-size: 32px;
                    
                }
            }
            .editor-wrap{
                margin-top: 30px;
                .ql-container{
                    border-top: 0px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    height: 200px;
                    overflow-y: auto;
                }
            }
        }
        .chips-wrap{
            margin-top: 20px;
            .add-success{
                color:greenyellow;
                font-size: 14px;
                float: right;   
            }
        }
    }

    .bottom-section{
        background-color: #f9f9f9;
        padding: 20px;
        display: flex;
        align-items: center;
        .left-s{
            display: flex;
            align-items: flex-start;
            .ud{
                margin-left: 10px;
                .t{
                    color:#414243;
                    font-size: 18px;
                }
                .b{
                    margin-top: 7px;
                    color:#c0c0c0;
                }
            }
        }
        .right-s{
            flex:1;
            display: flex;
            justify-content: flex-end;
            .save{
                background-color:#1565d8;
                color: #fff;
                padding: 10px 15px;
                font-size: 20px;
                &:disabled{
                    background-color: #ccc;
                    cursor:not-allowed;
                }
            }
        }
    }
}
.plain-input{
    outline: none;
    appearance: none;
    border: none;
    width: 100%;
}