.ambassador-wrap{
    position: relative;
    color:#333;
    height: 100%;
    overflow: auto;
    .ab-header{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        transform: translateY(0px);
        transition: transform 300ms ease;
        background-color: #008aff;
        background-image: linear-gradient(45deg, #ad56f2, #00c2ff);
        box-shadow: 25px 0 30px 0 rgba(0, 0, 0, .25);
        padding: 10px 0px;
        z-index: 11;
        &.hide{
            transform: translateY(-200px);
        }
        .hcontainer{
            display: flex;
            align-items: center;
            padding: 0px 50px;
            .logo{
                width: 90px;
                height: 60px;
                background-image: url("../../images/logo.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                transition: transform 200ms ease;
                cursor: pointer;
            }
            ul{
                flex:1;
                float: right;
                text-align: right;
                position: relative;
                li{
                    display: inline-block;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    &:not(:last-of-type){
                        margin-right: 50px;
                    }
                    .nav-text{
                        transition: color 350ms ease-in;
                        color: #fff;
                        font-size: 0.9375rem;
                        font-weight: 300;
                        letter-spacing: 0.28px;
                        transition: all 200ms ease;
                        &:hover{
                            color: #fff;
                            text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
                        }
                        &.active{
                            font-size: 1rem;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    .first-section{
        display: flex;
        min-height: 100vh;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, #5A69E2 0%, #5580E9 25%, #4B97F1 50%, #39ADF8 75%, #00C4FF 100%);
        position: relative;
        .orb-wrap{
            position: absolute;
            top: 80px;
            left: 0;
            right: 0;
            z-index: 0;
        }
        .first-content{
            position: relative;
            width: 100%;
            min-height: 50vh;
            margin-top: 0px;
            padding-top: 0px;
            flex-direction: column;
            color: #fff;
            z-index: 1;
            .htitle{
                font-size: 72px;
                line-height: 1.2em;
                font-weight: 600;
                text-align: center;
                text-transform: none;
                position: static;
                overflow: visible;
                margin-top: 0px;
                padding-top: 0px;
                padding-bottom: 0px;
                padding-left: 0px;
                float: none;
                clear: none;
            }
            .hsubtitle{
                font-weight: 300;
                text-align: center;
            }
            .pgraph2{
                margin-top: 100px;
                padding-right: 368px;
                padding-left: 368px;
                color: #fff;
                font-size: 18px;
                line-height: 24px;
                font-style: normal;
                font-weight: 200;
                text-align: center;
            }
            .btn-container{
                text-align: center;
                margin-top: 50px;
                .join{
                    width: 200px;
                }
            }
        }
    }
    .about-section{
        text-align: center;
        min-height: 300px;
        padding: 30px 0px;
        .items{
            margin: 30px 0px;
        }
    }
    .objectives{
        min-height: 300px;
        padding-top: 1px;
        background-image: linear-gradient(180deg, #f8f8f8, #f8f8f8);
        text-align: center;
        .card{
            min-height: 370px;
            border-radius: 5px;
            background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
            box-shadow: 0 20px 30px 10px rgba(0, 0, 0, .05);
            h4{
                padding-top: 30px;
            }
            .paragraph-3{
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 0px 30px;
                font-weight: 500;
                text-align: left;
            }
        }
    }

    .eligibility{
        text-align: center;
        min-height: 300px;
        padding: 30px 0px;
        .bullet-col{
            display: flex;
            align-items: flex-start;
            img{
                display: block;
                margin-top: 2px;
                margin-bottom: 5px;
                padding-top: 0px;
                padding-right: 10px;
                padding-bottom: 0px;
            }
            .paragraph-4{
                margin-bottom: 30px;
                font-weight: 500;
                text-align: left;
            }
        }  
    }

    .incentives{
        min-height: 70px;
        background-image: linear-gradient(45deg, rgba(173, 86, 242, .75), rgba(0, 194, 255, .75)), linear-gradient(180deg, #f8f8f8, #f8f8f8);
        perspective: 590px;
        transform: scale(1);
        text-align: center;
        .e-col{
            img{
                max-width: 100%;
                vertical-align: middle;
                display: inline-block;
            }
            .heading-12{
                color: #fff;
                font-weight: 500;
                margin: 10px 0px 5px 0px;
            }
            .paragraph-5{
                color: #fff;
                font-weight: 400;
            }
        }
    }
    .selection{
        min-height: 300px;
        background-image: linear-gradient(180deg, #f8f8f8, #f8f8f8);
        text-align: center;
        .heading13{
            color: #00a8ff;
            font-size: 72px;
        }
        .paragraph6{
            margin-top: 30px;
            margin-bottom: 11px;
            font-size: 18px;
            font-weight: 600;
        }
    }

    .application{
        min-height: 300px; 
        text-align: center;   
    }

    .selection-footer{
        background-image: linear-gradient(180deg, #f8f8f8, #f8f8f8);
        text-align: center;
        .tb-12{
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 30px;
            padding-bottom: 30px;
            font-weight: 600;
        }
    }

    .heading-3{
        padding-top: 20px;
        color: #00a8ff;
        font-weight: 700;
    }

    .heading-5{
        padding-top: 20px;
        color: #fff;
        font-weight: 700;
    }
    .paragraph{
        color: #333;
        font-size: 19px;
        font-weight: 600;
    }
    .txt2{
        color: #00a8ff;
        font-size: 36px;
        font-weight: 900;
    }
    .txt9{
        padding-top: 10px;
        font-size: 14px;
        font-weight: 500;
    }
}