.company-information{
    position: relative;
    padding-bottom: 200px;
    .orb-wrap{
        position: absolute;
        top:0;
        left:0;
        right:0;
    }
    h3{
        font-size: 2.125rem;
        line-height: 2.625rem;
        margin: 0;
        text-align: left;
        &.company-information-header{
            margin-bottom: 70px;
        }
        &.each-challenge{
            margin: 10px 0 30px;
        }
    }
    img{
        text-align: center;
        display: block;
        &.company-info-icon{
            height: 90px;
            margin: 0 auto 30px;
        }
        &.company-info-desktop-line{
            width: 1px;
            margin: 0 auto 10px;
            height: 158px;
        }
    }
    p{
        text-transform: uppercase;
        text-align: center;
        font-weight: 300;
        letter-spacing: 2.5px;
        height: auto;
        font-size: 0.875rem;
        line-height: 1.125rem;
    }
    .company-wrap{
        display: flex;
        .info-location{
            text-align: center;
            font-weight: 300;
            .what-challenge{
                font-size: 2.125rem;
                text-align: center;
            }
            &.system-apps{
                color: #6DA4FA;
            }
            &.website-documents{
                color: #5CCE8E;
            }
            &.tribal-knowledge{
                color: #F26BBE;
            }
        }
    }
}