.discover-wrap{
    position: relative;
    .sidebar{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width:330px;
        z-index: 10;
        background-color: #fff;
        padding: 20px 30px;
        .inner{
            display: flex;
            flex-direction: column;
            height: 100%;
            .top{
                padding-top: 20px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                .logo{
                    width: 120px;
                }
            }
            .options{
                flex:1;
                padding: 10px 15px;
                margin-top: 40px;
                .option{
                    padding: 15px 5px;
                    background-color: #fafafa;
                    border-radius: 10px;
                    margin: 25px 0px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    transition: background-color 200ms ease;
                    position: relative;
                    overflow: hidden;
                    border:1px solid #efefef;
                    &:hover{
                        border:1px solid #eee;
                        background-color: #fff;
                        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
                    }
                    &.selected{
                        background-color: #fff;
                        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
                        .vline{
                            opacity: 1;
                        }
                    }
                    .dot{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        margin-left: 5px;
                    }
                    img{
                        width: 20px;
                        margin-left: 20px;
                    }
                    .txt{
                        margin-left: 15px;
                        flex: 1;
                    }
                    .vline{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        width: 20px;
                        opacity: 0;
                        transition: all 200ms ease;
                    }
                }
            }
            .useroptions{
                margin-top: 10px;
                padding: 10px 15px;
                .useroption{
                    display: flex;
                    align-items: center;
                    background-color: #fafafa;
                    border-radius: 10px;
                    margin: 25px 0px;
                    padding: 15px 5px;
                    cursor: pointer;
                    img{
                        width: 20px;
                        margin-right: 10px;
                    }
                    .txt{
                        color: #ccc;
                        user-select: none;
                    }
                }
            }
        }
    }
    .content-section{
        padding: 10px 30px 0px 350px;
        .header-s{
            display: flex;
            align-items: center;
            padding: 10px 0px;
            .main-t{
                color:#656565;
                margin: 0;
                font-size: 32px;
            }
            .search-wrap{
                flex:1;
                padding: 0px 20px;
                .inps{
                    appearance: none;
                    border: 1px solid #ccc;
                    width: 100%;
                    outline: none;
                    padding: 10px 20px;
                    height: 50px;
                    margin: 0 auto;
                    display: block;
                    border-radius: 10px;
                    font-size: 20px;
                    padding-left: 50px;
                    background-image: url("../../images/search-grey.svg");
                    background-size: 25px;
                    background-position: 10px 50%;
                    background-repeat: no-repeat;
                    &::placeholder{
                        color:#cdcdcd;
                    }
                }
            }
            .uo{
                font-size: 18px;
                border-radius: 10px;
                cursor: pointer;
                outline: none;
                img{
                    width: 20px;
                    margin-right: 10px;
                }
            }
            .user{
                display: flex;
                align-items: center;
                img{
                    border-radius: 50%;
                    width: 40px;
                    margin-right: 10px;
                }
                .name{
                    font-size: 18px;
                }
            }
        }
        
        .content{
            margin-top: 10px;
            .filters{
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                .lbl{
                    margin-right: 30px;
                    font-size: 18px;
                }
                .filter{
                    margin: 5px 10px;
                    padding: 5px 20px;
                    font-size: 17px;
                    line-height: 17px;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: all 200ms ease;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    &:hover{
                        background-color: #fafafa;
                    }
                    &.active{
                        border: 1px solid #ccc;
                        background-color: #fafafa;
                    }
                }
            }
            .no-results{
                margin-top: 50px;
                text-align: center;
                font-size: 42px;
                .add-wrap{
                    margin-top: 40px;
                    .add-action{
                        font-size: 22px;
                    }
                }
            }
            .card-wrap{
                display: inline-block;
                padding: 15px 20px;
                width: 330px;
                vertical-align: top;
                margin-top: 30px;
                .card{
                    background-color: #fff;
                    border-radius: 10px;
                    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.2);
                    overflow: hidden;
                    cursor: pointer;
                    .pic{
                        height: 180px;
                        position: relative;
                        overflow: hidden;   
                        .fadetext{
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            opacity: 0.3;
                            font-size: 58px;
                            letter-spacing: 1.2px;
                            color: #fff;
                            text-transform: uppercase;
                            text-align: center;
                            white-space: nowrap;
                            left: 10px;
                            right: 10px;
                            overflow: hidden;
                        }
                    }
                    .ctitle{
                        margin-top: 5px;
                        padding: 5px 15px;
                        font-size: 20px;
                        font-weight: 500;
                    }
                    .cdesc{
                        padding: 5px 15px;
                        margin-top: 5px;
                        font-size: 19px;
                        color:#9c9c9c;
                    }
                    .card-footer{
                        display: flex;
                        align-items: center;
                        padding: 15px;
                        border-top:1px solid #ccc;
                        .mlogo{
                            border-radius: 5px;
                            color:#fff;
                            min-width: 30px;
                            min-height: 30px;
                            max-width: 30px;
                            max-height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &.even{
                                background-color: #696969;
                            }
                            &.odd{
                                background-color: #eb6180;
                            }
                        }
                        .actions{
                            flex:1;
                            display: flex;
                            justify-content: flex-end;
                            .ctaimg{
                                min-width: 50px;
                                min-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}