.finding-information{
    padding-top: 170px;
    margin-top: -100px;
    h3{
        margin-top: 0;
        margin-bottom: 20px;
        font-family: "Gibson-bold";
        span{
            color: #FF5B5A;
        }
    }
    h4{
        font-family: "Gibson-bold";
        min-height: 225px;
        span{
            color: #FF5B5A;
        }
    }
    p{
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
        .cards-wrap{
            display: flex;
            align-items: flex-start;
            .card-container-text{
                padding-left: 15px;
                padding-right: 15px;
            }
            .card-container{
                padding-left: 20px;
                padding-right: 20px;
                margin-top: 0;
                .card{
                    background-color: rgba(141, 157, 176, 0.2);
                    transition: background-color 0.6s ease;
                    width: 100%;
                    padding: 16px 20px;
                    border-radius: 10px;
                    margin-bottom: 0;
                    .card-footer{
                        font-size: 0.75rem;
                        line-height: 1.125rem;
                        color: #7588A0;
                        height: 24px;
                        .card-logo{
                            height: 24px;
                            float: right;
                            position: relative;
                            top: -9px;
                        }
                    }
                }
            }
        }
}