.footer-wrap{
    display: flex;
    a{
        color: #7588A0;
    }
    strong{
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 600;
        letter-spacing: 2px;
        color: #3C495A;
    }
    ul{
        margin: 15px 0 0;
        li{
            margin: 0 0 15px;
            padding: 0;
            a{
                color: #7588A0;
            }
        }
    }
    .w25{
        border-left: 1px solid #D3DCE6;
        &:first-child{
            border-left: 0;
            margin-left: 0;
            padding-left: 0;
        }
    }
    .footer-glasses{
        padding-left: 0;
        margin-bottom: 0px;
        height: 40px;
    }
    .company{
        height: 140px;
        padding-left: 30px;
        width: calc(100% - 1px);
        ul{
            li{
                a{
                    font-weight: 300;
                }
            }
        }
    }

    .get-in-touch{
        height: 140px;
        ul{
            margin: 15px 0 12px;
            display: block;
            width: 100%;
            min-width: 118px;
            height: 36px;
            li{
                float: left;
                display: block;
                margin-right: 15px;
                a{
                    .social-icon{
                        display: block;
                        width: 18px;
                    }
                }
            }
        }
        .hello-button{
            display: block;
            width: 122px;
        }
    }
    .made-in-stl{
        height: 140px;
        p{
            font-weight: 300;
            font-size: 0.75rem;
        }
    }
}