.header-wrap{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    transition: all 200ms ease;
    &.active{
        background-color: #fff;
        box-shadow: 0 0px 8px 0 rgba(31, 39, 51, 0.2);
        height: 60px;
        .container{
            .logo{
                background-image: url("../../images/logo-blue.svg");
            }
            ul{
                li{
                    .nav-text{
                        color: #3C495A;
                    }           
                }
            }
            .udw{
                .uicon{
                    background-color: #3C495A;
                    color:#fff;
                }
                span{
                    color: #3C495A !important;
                }
            }
        }
    }
    .container{
        max-width: $maxContainerWidth;
        margin: 0px auto;
        display: flex;
        align-items: center;
        .logo{
            width: 90px;
            height: 60px;
            background-image: url("../../images/logo.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transition: transform 200ms ease;
            cursor: pointer;
            &:hover{
                transform: scale(1.02);
            }
        }
        ul{
            flex:1;
            float: right;
            text-align: right;
            position: relative;
            li{
                display: inline-block;
                list-style-type: none;
                margin: 0;
                padding: 0;
                &:not(:last-of-type){
                    margin-right: 30px;
                }
                .nav-text{
                    transition: color 350ms ease-in;
                    color: #fff;
                    font-size: 0.9375rem;
                    font-weight: 300;
                    letter-spacing: 0.28px;
                }
            }
        }
    }
}