.hero-area{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 200px;
    background: linear-gradient(135deg, #5A69E2 0%, #5580E9 25%, #4B97F1 50%, #39ADF8 75%, #00C4FF 100%);
    color:#fff;
    position: relative; 
    .orb-wrap{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .container{
        width: $maxContainerWidth;
        padding: 0;
        margin:0 auto;
        &::before{
            content: " ";
            display: table;
        }
        .hero-content-container{
            min-height: 600px;
            position: relative;
            width: 91.66667%;
            margin: 0 auto;
            padding: 0px 15px;
            .header-title{
                font-size: 2.7375rem;
                line-height: 2.75rem;
                padding: 0;
                letter-spacing: 0.4px;
                text-align: center;
                font-family: "Gibson-Bold";
            }
            .header-detail-group{
                margin-top: 40px;
                top: 0;
                position: relative;
                transform: translateX(-50%);
                left: 50%;
                padding: 0;
                width: 83.3333%;
                float: left;
                .header-detail{
                    padding-left: 0;
                    padding-right: 0;
                    float: left;
                    width: 330px;
                    top: 0;
                    position: absolute;
                    left: 0;
                    text-align: left;
                    margin-top: 0;
                    font-size: 1.5rem;
                    line-height: 2.25rem;
                    .request-a-demo{
                        margin: 27px 0 0 0;
                        width: 100%;
                    }

                }
                .chat-container{
                    right: 4px;
                    left: inherit;
                    transform: none;
                    width: 50%;
                    overflow: hidden;
                    position: relative;
                    float:left;
                    transition: all 300ms ease;
                    .chatBox__meta{
                        color: #3C495A;
                        font-size: 1rem;
                        line-height: 1.375rem;
                        &.chatBox__meta--big{
                            font-weight: 600;
                        }
                        &.chatBox__meta--light{
                            color: #7588A0;
                            font-size: .75rem;
                            margin-left: 5px;
                        }
                    }
                    .chatBox__input{
                        color: #3C495A;
                        .cb-title{
                            margin-top: 5px;
                            font-weight: 100;
                        }
                    }
                    .chatBox__input--link{
                        color: #6DA4FA;
                    }
                    .chatbox{
                        margin-left: 0;
                        margin-right: 0;
                        float: right;
                        width: 400px;
                        border-radius: 6px;
                        position: relative;
                        bottom: 0;
                        margin: 8px auto 0;
                        padding: 10px;
                        background-color: #fff;
                        opacity: 0;
                        font-weight: 300;
                        width: 100%;
                        box-shadow: 0 0 10px 0 rgba(18, 86, 194, 0.5);
                        &.user{
                            background-color: rgba(255, 255, 255, 0.6);
                        }
                        &.animate{
                            animation: animate 200ms linear;
                            opacity: 1;
                        }
                        .tp{
                            display: flex;
                        }
                        .avatar{
                            min-width: 60px;
                            min-height: 60px;
                            max-height: 60px;
                            max-width: 60px;
                            border: 1px solid #ccc;
                            border-radius: 6px;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-image: url("../../images/witsy-avatar.png");
                            flex: 0 0 60px;
                        }
                        .chatbox-content{
                            flex: 1 1 auto;
                            text-align: left;
                            margin-left: 12px;
                            font-size: .9375rem;
                            line-height: 1rem;
                        }
                        .chatbox-results{
                            margin-top: 20px;
                            color: #3C495A;
                            .image-container{
                                width: 100%;
                                height: 200px;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                opacity: 0;
                                position: relative;
                                transition: all 500ms ease;
                                border: 1px solid #ccc;
                                margin: 5px auto;
                                border-radius: 5px;
                                .mask{
                                    position: absolute;
                                    top:0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    display: none;
                                    .r{
                                        position: absolute;
                                        width: 50px;
                                        height:68px;
                                        border: 3px solid red;
                                        border-radius: 4px;
                                        background-color: rgba(255,0,0,0.2);
                                        &.rect1{
                                            top: 5px;
                                            left: 35%;
                                            width: 70px;
                                            height: 110px;
                                        }
                                        &.rect2{
                                            top: 10px;
                                            right: 25%;
                                            width: 70px;
                                            height: 110px;
                                        }
                                    }
                                    
                                }
                                .tag-container{
                                    position: absolute;
                                    bottom: 10px;
                                    left: 0;
                                    right: 0;
                                    padding: 5px 10px;
                                    transition: all 500ms ease;
                                    opacity: 0;
                                    .qwe{
                                        display: inline-block;
                                        margin-right: 5px;
                                        border-radius: 4px;
                                        padding: 5px 9px;
                                        color:#fff;
                                        font-size: 15px;
                                        &:nth-child(3n+1){
                                            background: rgba(254,160,96,0.52);
                                        }
                                        &:nth-child(3n+2){
                                            background: rgba(254,58,241,0.52);
                                        }
                                        &:nth-child(3n+3){
                                            background: rgba(58,202,254,0.52);
                                        }
                                    }          
                                }
                            }
                            .fw{
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                &.la{
                                    justify-content: flex-start;
                                }
                                &.ce{
                                    justify-content: center;
                                }
                                .google-result{
                                    width: 60px;
                                    height:60px;
                                    object-fit: cover;
                                    margin-right: 5px;
                                    margin-bottom: 5px;
                                }

                                
                            }
                            .row{
                                display: flex;
                                align-items: center;
                                padding: 7px 10px;
                                box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
                                margin: 5px 0px;
                                border-radius: 3px;
                                img{
                                    width: 20px;
                                    margin-right: 10px;
                                }
                                .cb-name{
                                    font-weight: 400;
                                    flex: 1;
                                    text-align: left;
                                }
                                .hin{
                                    margin-left: 10px;
                                    font-weight: 100;
                                }
                            }
                            .gh-card{
                                display: inline-block;
                                text-align: center;
                                padding: 7px 10px;
                                box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
                                margin-right: 5px;
                                border-radius: 3px; 
                                width: 130px;
                                img{
                                    width: 20px;
                                    margin-bottom: 10px;
                                }
                                .right-section{
                                    flex:1;
                                    .text1{
                                        font-size: 13px;
                                        color:#5580E9;
                                    }
                                    .text2{
                                        font-size: 11px;
                                    }
                                }
                            }
                            .peop{
                                display: inline-block;
                                padding: 7px 10px;
                                box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
                                margin-right: 5px;
                                border-radius: 3px; 
                                max-width: 130px;
                                .pp{
                                    width: 45px;
                                    height: 45px;
                                    border-radius: 50%;
                                    background-size: cover;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    margin: 0 auto;
                                }
                                .info{
                                    .text1{
                                        font-size: 13px;
                                        color:#5580E9;
                                    }
                                    .twi{
                                        color:#9c9c9c;
                                        font-size: 11px;
                                        line-height: 11px;
                                        display: flex;
                                        align-items: flex-start;
                                        img{
                                            width: 10px;
                                            margin-right: 4px;
                                        }
                                        .tt{
                                            text-align: left;
                                        }
                                    }
                                    .gh{
                                        color:#9c9c9c;
                                        font-size: 11px;
                                        line-height: 11px;
                                        display: flex;
                                        align-items: flex-start;
                                        margin-top: 4px;
                                        img{
                                            width: 10px;
                                            margin-right: 4px;
                                        }
                                        .tt{
                                            text-align: left;
                                            color:#5580E9;
                                            &.n{
                                                color:#9c9c9c;
                                            }
                                        }
                                    }
                                }
                            }
                            .cnt{
                                display: flex;
                                align-items: flex-start;
                                padding: 7px 10px;
                                box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
                                margin: 5px 0px;
                                border-radius: 3px;
                                img{
                                    width: 50px;
                                    margin-right: 10px;
                                }
                                .rs{
                                    text-align: left;
                                    flex: 1;
                                    .text1{
                                        color: #3C495A;
                                    }
                                    .text2{
                                        color: #3C495A;
                                        opacity: 0.7;
                                        span{
                                            color:#999
                                        }
                                    }
                                }
                                .tg-cnt{
                                    margin-right: 10px;
                                    .tagg{
                                        display: inline-block;
                                        margin-right: 5px;
                                        border-radius: 4px;
                                        padding: 3px 5px;
                                        color:#fff;
                                        font-size: 9px;
                                        &:nth-child(3n+1){
                                            background: rgba(254,160,96,0.52);
                                        }
                                        &:nth-child(3n+2){
                                            background: rgba(254,58,241,0.52);
                                        }
                                        &:nth-child(3n+3){
                                            background: rgba(58,202,254,0.52);
                                        }
                                    }
                                }
                                .prov{
                                    color: #3C495A;
                                    font-weight: 600;
                                    font-size: 17px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .as-seen-on{
        margin-top: 60px;
        margin-bottom: 20px;
        .h4{
            margin-bottom: 30px;
            text-align: center;
        }
        .comp-wrap{
            display: flex;
            align-items: center;
            justify-content: space-around;
            img{    
                &.tech-crunch{
                    max-width: 99px;
                }
                &.venture-beat{
                    max-width: 234px;
                }
                &.fortune{
                    max-width: 160px;
                }
                &.sxsw{
                    max-width: 167px;
                }
            }
        }
    }
    .hero-video-container{
        position: relative;
        padding-bottom: 100px;
        margin-top: 150px;
        iframe{
            width: 80%;
            height: 600px;
        }
    }
}