.how-witsy-works{
    background-color: #f9fbfd;
    color: #3C495A;
    padding: 100px 0;
    width: 100%;
    overflow: hidden;
    .how-witsy-title{
        text-align: center;
        margin-bottom: 65px;    
    }
    .detail-head-wrapper{
        width: 100%;
        border-bottom: 4px solid #F0F4F9;
        margin-bottom: 50px;
        .detail-head-container{
            padding-left: 15px;
            padding-right: 15px;
            max-width: $maxContainerWidth;
            margin-left: auto;
            margin-right: auto;
            .detail-main-tabs{
                width: calc(100% - 2px);
                display: block;
                height: 60px;
                .detail-tab{
                    float: left;
                    width: 25%;
                    font-size: 1rem;
                    border-left: 5px solid transparent;
                    &:first-child{
                        border-left: 0;
                    }
                    .tab{
                        width: 98%;
                        font-size: 1rem;
                        display: block;
                        line-height: 60px;
                        text-align: center;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        font-weight: 600;
                        transition: all 200ms ease;
                        &.integrate-tab{
                            color: #6DA4FA;
                            &.active,&:hover{
                                background: -webkit-linear-gradient(left, #5A69E2 0%, #5580E9 25%, #4B97F1 50%, #39ADF8 75%, #00C4FF 100%);
                                color: #fff;
                                height: 61px;
                                border-left: 1px solid #5A69E2;
                                border-top: 0;
                            }
                        }
                        &.mine-tab{
                            color: #5CCE8E;
                            &.active, &:hover{
                                background: -webkit-linear-gradient(left, #5CCE8E 0%, #59CBAB 25%, #51C9C7 50%, #3EC6E3 75%, #00C4FF 100%);
                                color: #fff;
                                height: 61px;
                                border-top: 0;
                                border-left: 1px solid #5CCE8E;
                            }
                        }
                        &.capture-tab{
                            color: #F26BBE;
                            &.active,&:hover{
                                background: -webkit-linear-gradient(left, #ED0224 0%, #ED0042 25%, #EC005F 50%, #E80079 75%, #E40094 100%);
                                color: #fff;
                                height: 61px;
                                border-top: 0;
                                border-left: 1px solid #ED0224;
                            }
                        }
                        &.access-tab{
                            color: #FFA21E;
                            &.active,&:hover{
                                background: -webkit-linear-gradient(left, #FF9363 0%, #FF8661 25%, #FF795F 50%, #FF6B5C 75%, #FF5B5A 100%);
                                color: #fff;
                                height: 61px;
                                border-top: 0;
                                border-left: 1px solid #FF9363;
                                border-right: 1px solid #FF5B5A;
                            }
                        }
                    }
                }
            }
        }
        .tab-container{
            padding: 20px 15px;
        }
    }
}