.info-capturing-section{
    background-position: 94% bottom;
    padding-bottom: 360px;
    background-size: 670px;
    background-image: url("../../images/connected-orbs-02.svg");
    background-repeat: no-repeat;
    position: relative;
    z-index: 1000;
    .info-capturing{
        padding-top: 20px;
        .capture-method{
            width: auto;
            &.system-apps{
                color: #6DA4FA;
            }
            &.tribal-knowledge{
                color: #F26BBE;
            }
            &.website-documents{
                color: #5CCE8E;
            }
            .capture-method-icon{
                width: 100px;
                float: left;
                margin-right: 15px;
                margin-top: 15px;
                img{
                    height: 57px;
                }
            }
            h3{
                font-size: 1.875rem;
                font-weight: 600;
                margin-bottom: 0;
                img{
                    height: 1px;
                    margin-left: 15px;
                    &.horizontal-line{
                        display: inline-block;
                        
                    }
                }
            }
            p{
                font-size: 1.5rem;
                color: #8D9DB0;
                font-weight: 300;
            }
        }
    }
    .all-accessible{
        top: 242px;
        width: 50%;
        position: relative;
        h2{
            font-size: 2.125rem;
            line-height: 2.625rem;
            font-family: "Gibson-Regular";
            font-weight: 300;
            span{
                color: #FFA21E;
                font-weight: 600;
            }
        }
    }
}