.instant-painless{
    padding: 150px 0 5px;
    background-color: #fff;
    color: #3C495A;
    text-align: center;
    .tp{
        margin-top: 10px;
        h2{
            color: #8D9DB0;
        }
        h1{
            color: #3C495A;
        }
    }
    .witsy-round{
        background-image: url("../../images/say-hello-CTA.jpg");
        background-repeat: no-repeat;
        box-shadow: 0 2px 30px 0 rgba(7, 60, 140, 0.2);
        color: #fff;
        margin: 100px auto 50px;
        border-radius: 100px 100px 100px 0;
        min-height: 390px;
        background-size: 100%;
        h2{
            margin: 120px auto 0px;
            color: #fff;
            font-size: 2.125rem;
        }
        h3{
            font-size: 2.125rem;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 20px;
        }
        .request-a-demo{
            width: 200px;
            float: none;
        }
    }
}