.lboard-wrap{
    position: relative;
    justify-content: space-around;
    height: 100%;
    #surface{
        height:100%;
        display: flex;
        flex-direction: column;
        background-color: #f9fafc;
        #header{
            flex: none;
            background: #fff;
            position: relative;
            overflow: hidden;
            padding: 4px;
            z-index: 10;
            box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
            .header-container{
                padding: 0px 40px;
                display: flex;
                align-items: center;
                .logo{
                    background-image: url("../../images/logo-blue.svg");
                    background-size: contain;
                    width: 120px;
                    height: 30px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .user{
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    img{
                        border-radius: 50%;
                        width: 40px;
                        margin-right: 10px;
                    }
                    .name{
                        font-size: 18px;
                    }
                }
            }
        }
        #content{
            flex-grow: 1;
            overflow-y: auto;
            outline: none;
            position: relative;
            .board-wrapper{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                .board-main-content{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-right: 0;
                    transition: margin .1s ease-in;
                    .board-header{
                        flex: none;
                        height: auto;
                        overflow: hidden;
                        padding: 8px 4px 8px 8px;
                        position: relative;
                        transition: padding .1s ease-in;
                        .board-title{
                            text-align: center;
                            font-size: 1.9rem;
                            margin: 0;
                        }
                    }
                    .board-canvas{
                        position: relative;
                        flex-grow: 1;
                        
                        #board{
                            user-select: none;
                            white-space: nowrap;
                            margin-bottom: 8px;
                            padding-bottom: 8px;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            overflow-x: auto;
                            overflow-y: hidden;
                            .list-wrapper{
                                width: 292px;
                                margin: 0 10px;
                                height: 100%;
                                box-sizing: border-box;
                                display: inline-block;
                                vertical-align: top;
                                white-space: nowrap;
                                overflow-y: auto;
                                &:first-child{
                                    margin-left: 8px;
                                }
                                .list{
                                    border-radius: 8px;
                                    box-sizing: border-box;
                                    display: flex;
                                    flex-direction: column;
                                    max-height: 100%;
                                    white-space: normal;
                                    min-height: 100px;
                                    transition: all 300ms ease;
                                    .list-header{
                                        flex: 0 0 auto;
                                        padding: 10px 8px 8px;
                                        position: relative;
                                        min-height: 20px;
                                        color: #fff;
                                        &.is-menu-shown{
                                            padding-right: 36px;
                                        }
                                        .list-header-name{
                                            font-size: 21px;
                                            line-height: 18px;
                                            margin: 0 0 8px;
                                            color: #000;
                                            text-align: center;
                                            text-transform: uppercase;
                                        }
                                    }
                                    .list-item{
                                        //box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
                                        padding: 20px 10px;
                                        border:1px solid #e4e7f0;
                                        border-radius: 4px;
                                        position: relative;
                                        .strip{
                                            position: absolute;
                                            top:15px;
                                            width: 5px;
                                            border-top-right-radius: 4px;
                                            border-bottom-right-radius: 4px;
                                            background-color: #7f7efe;
                                            bottom: 15px;
                                            left: 0;
                                        }
                                        .three-dots{
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            background-image: url("../../images/show-more.svg");
                                            width: 20px;
                                            height: 30px;
                                            background-size: contain;
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            right: 10px;
                                        }
                                        .card-t{
                                            font-size: 18px;
                                            padding-left: 10px;
                                        }
                                        .date{
                                            font-size: 12px;
                                            padding-left: 30px;
                                            background-image: url("../../images/clock.svg");
                                            background-size: 12px;
                                            background-position: 10px 50%;
                                            background-repeat: no-repeat;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}