.login-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.3px;
    .login-container{
        background-color: #fff;
        border-radius: 20px;
        width: 900px;
        position: relative;
        height: 542px;
        box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        .mask{
            display:none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255,255,255,0);
            align-items: center;
            justify-content: center;
            z-index: 10;
            .loader{
                width: 120px;
            }
        }
        &.fade{
            .mask{
                display: flex;
                background-color: rgba(255,255,255,0.6);
                pointer-events: all;
            }
        }
        .close-btn{
            position: absolute;
            right: 20px;
            top: 20px;
            width: 40px;
            height: 40px;
            background-image: url("../../images/close.svg");
            background-size: 20px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            border-radius: 5px;
            transition: all 200ms ease;
            z-index: 11;
            &:hover{
                background-color: #eee;
            }
        }
        .wrap{
            display: flex;
            align-items: flex-start;
            height: 100%;
            overflow: hidden;
            padding: 45px 0;
            .simage{
                width:50%;
                height: 100%;
                &.sup{
                    background-image: url("../../images/signup-image.jpg");
                    background-size: 294px 314px;
                }
                &.login{
                    background-image: url("../../images/signin-image.jpg");
                    background-size: 292px 350px;
                }
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                .linkbtn{
                    position: absolute;
                    bottom: 11px;
                    left: 0;
                    right: 0;
                    text-align: center;
                }
            }
            .signup-form{
                width:50%;
                height: 100%;
                display: flex;
                padding-left: 75px;
                padding-right: 75px;
                flex-direction: column;
                position: relative;
                input{
                    font-size: 16px;
                }
                .form-title{
                    margin-bottom: 33px;
                    font-weight: bold;
                    font-family: "Gibson-Bold";
                }
                .btn-wrap{
                    margin-top: 40px;
                }

                .info-message{
                    position: absolute;
                    bottom: 0;
                    border-radius: 10px;
                    background-color: #ffe4c4;
                    padding: 10px 20px;
                    color:#000;
                    right: 30px;
                    left: 70px;
                    .info-title{
                        font-size: 22px;
                        font-weight: bold;
                    }
                    .link{
                        cursor: pointer;
                        font-weight: bold;
                        color: #39b9ef;
                    }
                }

                .social-login{
                    position: absolute;
                    bottom: 0;
                    left: 75px;
                    display: flex;
                    align-items: center;
                    .social-label{
                        display: inline-block;
                        margin-right: 15px;
                    }
                    .socials{
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        li{
                            padding: 5px;
                            a{
                                text-decoration: none;
                                img{
                                    width: 25px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }   
}