.meet-witsy{
    background: linear-gradient(-45deg, #5A69E2 0%, #5580E9 25%, #4B97F1 50%, #39ADF8 75%, #00C4FF 100%);
    color: #fff;
    .meet-witsy-tri-wrapper{
        width: 100%;
        overflow: hidden;
        .meet-witsy-top-tri{
            border-top: 100px solid #1E2733;
            border-right: 1160px solid transparent;
            border-left: 300px solid transparent;
        }
        .meet-witsy-bottom-tri{
            position: relative;
            bottom: 0;
            border-bottom: 100px solid #1E2733;
            border-right: 1160px solid transparent;
            border-left: 300px solid transparent;
        }
        .meet-witsy-bg{
            background-repeat: no-repeat;
            background-position: 100% 46%;
            background-size: 48% 350px;
            width: 100%;
            padding: 100px 0;
            .meet-wrap{
                display: flex;
                .witsy-left{
                    margin-right: 60px;
                    h1{
                        font-size: 3.125rem;
                        line-height: 3.375rem;
                    }
                    h2{
                        font-size: 2.125rem;
                        line-height: 2.625rem;
                        font-weight: 300;
                    }
                }
                .meet-witsy-inner{
                    margin-left: -80px;
                    margin-top: 40px;
                    .meet-witsy-img{
                        margin-top: -44px;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}