.notes-wrap{
    position: relative;
    height: 100%;
    .add-note-backdrop{
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.05);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .notes-header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        padding: 10px 70px;
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
        background-color: #fff;
        .main-t{
            color:#656565;
            margin: 0;
            font-size: 32px;
        }
        .search-wrap{
            flex:1;
            padding: 0px 20px;
            .inps{
                appearance: none;
                border: 1px solid #eee;
                width: 100%;
                outline: none;
                padding: 10px 20px;
                height: 50px;
                margin: 0 auto;
                display: block;
                border-radius: 10px;
                font-size: 20px;
                padding-left: 50px;
                background-image: url("../../images/search-grey.svg");
                background-size: 25px;
                background-position: 10px 50%;
                background-repeat: no-repeat;
                &::placeholder{
                    color:#cdcdcd;
                }
            }
        }
        .user{
            display: flex;
            align-items: center;
            img{
                border-radius: 50%;
                width: 40px;
                margin-right: 10px;
            }
            .name{
                margin-left: 10px;
                font-size: 18px;
            }
        }
    }
    .notes-content{
        background-color: #fbfbfd;
        height: 100%;
        overflow-y: auto;
        padding-top: 90px;
        .note-section{
            margin-bottom: 30px;
            .section-header{
                margin: 20px 0px;
                display: flex;
                align-items: center;
                img{
                    width: 20px;
                    &:not(:last-child){
                        margin-right: 20px;
                    }
                }
                .section-title{
                    color: #404145;
                    font-size: 14px;
                    font-weight: bold;
                }
    
                .count{
                    color:#a6a9ae;
                    font-size: 14px;
                    margin-left: 10px;
                    margin-right: 20px;
                }
                .hline{
                    flex:1;
                    height: 1px;
                    background-color: #eaedf4;
                    margin-right: 20px;
                }
            }
            .section-notes{
                margin-top: 20px;

                .note-add-card{
                    width: 240px;
                    background-color: #fff;
                    border-radius: 4px;
                    border: 1px solid #eaedf4;
                    box-shadow: 0px 0px 10px 0px #eaedf4;
                    display: inline-block;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    padding: 20px;
                    cursor: pointer;
                    &:hover{
                        .add-circle{
                            img{
                                width: 32px;
                            }
                        }
                    }
                    .add-circle{
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        background-color: #eaf6ec;
                        margin: 20px auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            transition: all 200ms ease;
                            width: 30px;
                        }
                    }
                    .add-header{
                        text-align: center;
                        color:#6d6e72;
                        font-size: 18px;
                    }
                    .add-desc{
                        margin-top: 10px;
                        color: #bfc0c4;
                        font-size: 15px;
                        text-align: center;
                        margin-bottom: 20px;
                    }
                }
                .note-card{
                    width: 240px;
                    display: inline-flex;
                    vertical-align: top;
                    background-color: #fff;
                    border-radius: 4px;
                    border: 1px solid #eaedf4;
                    box-shadow: 0px 0px 10px 0px #eaedf4;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    height: 265px;
                    flex-direction: column;
                    cursor: pointer;
                    .u{
                        padding: 20px;
                        border-bottom: 1px solid #ebecee;
                        flex-grow: 1;
                        overflow: hidden;
                        .note-title{
                            color:#6d6e72;
                            font-size: 22px;    
                        }
                        .note-desc{
                            margin-top: 10px;
                            color: #bfc0c4;
                            font-size: 15px; 
                            overflow: hidden;
                        }
                        .stats{
                            margin: 10px 0px;
                            display: flex;
                            align-items: center;
                            font-size: 15px;
                            color: #bfc0c4;
                            .views{
                                flex: 1;
                            }
                            .comments{
                                flex: 1;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                img{
                                    width: 20px;
                                    margin-right: 10px;
                                }
                            }
                        }
                        .prog-wrap{
                            margin-top: 10px;
                            .prog-title{
                                color:#9e9fa4;
                                font-size: 14px;
                                text-transform: uppercase;
                            }
                            .prog-bars{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin-top: 10px;
                                .pbar{
                                    height: 3px;
                                    width: 22%;
                                    border-radius: 4px;
                                    background-color: #ebebed;
                                    &.blue{
                                        background-color: #1565d8;
                                    }
                                    &.green{
                                        background-color: #33aa44;
                                    }
                                }
                            }
                        }
                    }
                    .b{
                        padding: 20px;
                        display: flex;
                        align-items: center;
                        .tags{
                            flex:1;
                            display: flex;
                            align-items: center;
                            white-space: nowrap;
                            overflow: hidden;
                            .note-tag{
                                padding: 3px 10px;
                                border: 1px solid #ccc;
                                border-radius: 5px;
                                cursor: pointer;
                                font-size: 11px;
                                margin-right: 5px;
                            }
                        }
                        .pencil{
                            cursor: pointer;
                            width: 30px;
                            margin-left: 20px;
                            padding: 2px;
                            transition: all 200ms ease;
                            border-radius: 10px;
                            &:hover{
                                background-color: rgba(0,0,0,0.1);
                            }
                        }
                    }
                }
            }
        }
    }
}