.overcome{
    padding: 230px 0 230px 0;
    position: relative;
    .orb-wrap{
        position: absolute;
        top: 130px;
        left: 0;
        right: 0;
    }
    .overcome-wrap{
        h1{
            font-size: 3.125rem;
            line-height: 3.375rem;
            font-weight: 600;
            text-align: center;
            margin-left: 0;
        }
    }
}