.pdf-view-wrap{
    position: relative;
    box-sizing: border-box;
    height: 100%;

    .main-nav{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 10px 30px;
        z-index: 12;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dfe9f0;
        .back-button{
            width: 35px;
            height: 35px;
            background-image: url("../../images/left-arrow.svg");
            background-position: center;
            background-size: 20px;
            background-repeat: no-repeat;
            margin-right: 30px;
            transition: all 200ms ease;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                background-color: rgba(0,0,0,0.05);
            }
        }
        .pdf-name{
            display: flex;
            align-items: flex-start;
            img{
                width: 35px;
                margin-right: 10px;
            }
            .pdf-name-details{
                .top{
                    color:#728ca1;
                    font-size: 13px;
                }
                .bottom{
                    color:#20394d;
                    font-size: 15px;
                }
            }
        }
        .pdf-actions{
            flex:1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .action-btn{
                appearance: none;
                border:1px solid #d6e3ed;
                color:#547287;
                background-color: #fff;
                outline: none;
                border-radius: 20px;
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
                transition: all 200ms ease;
                margin-right: 20px;
                box-shadow: 0px 2px 10px 0px #d6e3ed;
                display: flex;
                align-items: center;
                &.primary{
                    background-color: #16b976;
                    color:#fff;
                    &:hover{
                        background-color: #33da94;
                    }
                }
                &:last-child{
                    margin-right: 0px;
                }
                img{
                    width: 16px;
                    margin-right: 6px;
                }
                &:hover{
                    background-color: #f5f9fc;
                }
            }
        }
    }
    
    .pdf-overview{
        width: 320px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: #ffffff;
        box-shadow: -2px 0px 6px 0 rgba(47, 83, 151, 0.2);
        padding-top: 70px;
        overflow: hidden;
        padding-bottom: 60px;
        box-sizing: border-box;
        .pdf-tabs{
            padding: 10px 15px;
            display: flex;
            align-items: center;
            .pdf-tab{
                color:#809aad;
                font-size: 18px;
                margin-right: 20px;
                transition: all 200ms ease;
                border-bottom: 2px solid rgba(0,0,0,0);
                cursor: pointer;
                padding-bottom: 5px;
                &.active{
                    color:#253d51;
                    border-bottom: 2px solid #2b95d6;
                }
            }
        }
        .pdf-tab-content{
            margin-top: 20px;
            padding: 0px 15px;
            flex-grow: 1;
            height: 100%;
            overflow-y: auto;
            .ann{
                margin-bottom: 10px;
            }
            .pdfrow{
                margin-bottom: 30px;
                .rowlbl{
                    text-transform: uppercase;
                    color:#20394d;
                    font-weight: bold;
                    display: block;
                }
                .rowval{
                    color:#20313f;
                }
                .tags{
                    margin-top: 5px;
                    .tg{
                        padding: 2px 12px;
                        border-radius: 10px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .pdf-navigation{
        position: absolute;
        bottom: 20px;
        border-radius: 5px;
        z-index: 12;
        left: 30px;
        display: flex;
        justify-content: center;
        .nav-area{
            background-color: #2f3f4b;
            padding: 10px 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            .pdf-page-nav{
                display: flex;
                align-items: center;
                color: #fff;
                .page-input{
                    outline: none;
                    border: none;
                    max-width:30px;
                    margin-left: 10px;
                    margin-right: 5px;
                    border-radius: 5px;
                    font-size: 16px;
                    padding: 5px 2px;
                    text-align: center;
                }
            }
            .pdf-button-nav{
                margin-left: 40px;
                .pdf-nav-btn{
                    appearance: none;
                    outline: none;
                    background: rgba(0,0,0,0.0);
                    font-size: 18px;
                    border:none;
                    margin-right: 20px;
                    color:#fff;
                    cursor: pointer;
                    &:disabled{
                        opacity: 0.5;
                        cursor:not-allowed;
                    }
                }
            }
        }
    }
    .pcontent{
        position: relative;
        height: 100%;
        padding: 80px 350px 60px 30px;
        overflow-y: auto;
        box-sizing: border-box;
        background-color: #f5f9fc;
        .pcontainer{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .pdf-doc{
                margin-bottom: 20px;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
                position: relative;
                z-index: 10;
                .overlay{
                    position: absolute;
                    z-index: 11;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0,0,0,0);
                    pointer-events: none;
                    .highlight{
                        position: absolute;
                        background-image: url("../../images/highlighter.svg");
                        background-size: 30px;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 40px;
                        height: 40px;
                        cursor: pointer;
                        transition: all 200ms ease;
                        z-index: 12;
                        pointer-events: all;
                        border-radius: 5px;
                        &:hover{
                            transform: scale(1.1);
                            background-color: rgba(0,0,0,0.2);
                        }
                    }
                }
            }
            .popup{
                position: fixed;
                opacity: 0;
                box-shadow:0px 2px 10px 0px rgba(0,0,0,0.3);
                background-color: #fff;
                transition: opacity 200ms ease;
                border-radius: 5px;
                width: 300px;
                pointer-events: none;
                z-index: -1;
                border-radius: 10px;
                overflow: hidden;
                .close-btn{
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-image: url("../../images/clear.svg");
                    background-size: 12px;
                    background-position: center;
                    background-repeat: no-repeat;
                    z-index: 10;
                    cursor: pointer;
                    background-color: #d6e3ed;
                }
                &.read{
                    position: absolute;
                }
                .ptop{
                    display: flex;
                    align-items: flex-start;
                    padding: 10px 20px;
                    .pbg{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #809aad;
                        color: #fff;
                        margin-right: 10px;
                    }
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: center;
                        margin-right: 10px;
                    }
                    .tinfo{
                        flex:1;
                        font-size: 14px;
                        .bottom{
                            color:#2b95d6;
                            font-size: 12px;
                        }
                    }
                }
                .pform{
                    padding: 10px 20px;
                }
                .btn-wrap{
                    margin-top: 10px;
                    .popup-btn{
                        width: 100%;
                        padding: 15px 10px;
                        background-color: #2b95d6;
                        color: #fff;
                        font-size: 18px;
                    }
                }
                &.show{
                    opacity: 1;
                    pointer-events: all;
                    z-index: 1000;
                }
                .save-btn{
                    font-size: 18px;
                    padding: 5px 10px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.react-pdf__message--loading{
    font-size: 28px;
    margin-top: 30px;
}