.why-at-work{
    padding: 230px 0 230px 0;
    position: relative;
    .orb-wrap{
        position: absolute;
        top: 130px;
        left: 0;
        right: 0;
    }
    .why-wrap{
        h1{
            padding: 135px 0;
            background-size: 84%;
            line-height: 3.375rem;
            font-size: 3.125rem;
            min-height: 379px;
            background-image: url("../../images/hourglass-image.png");
            background-repeat: no-repeat;
            background-position: center 10px;
            text-align: center;
            font-weight: 600;
        }
    }
}