html,body{
    margin: 0;
    font-family: "Gibson-Regular" , Arial, Helvetica, sans-serif;;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    color: #3C495A;
    letter-spacing: 0.4px;
}
div{
    box-sizing: border-box;
}

#root{
    height: 100%;
}
main{
    height: 100%;
}
footer{
    background-color: #fff;
    color: #7588A0;
    display: block;
}

a {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}
h1,.h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 3.125rem;
    line-height: 3.375rem;
}
h2, .h2 {
    font-size: 2.125rem;
    line-height: 2.625rem;
    font-weight: 300;
}

img{
    vertical-align: middle;
    border: 0;
}

p {
    margin: 0 0 10px;
}
.cta-button-normal{
    background: -webkit-linear-gradient(left, #FF9363 0%, #FF8661 25%, #FF795F 50%, #FF6B5C 75%, #FF5B5A 100%);
    color: #fff;
    font-weight: 600;
    line-height: 18px;
    font-size: 0.75rem;
    padding: 12px 18px 14px 18px;
    border-radius: 3px;
    letter-spacing: 1px;
    box-shadow: 0px 1px 2px 0px rgba(42, 3, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    &:hover{
        background: -webkit-linear-gradient(left, #F8BB66 0%, #FFB075 25%, #FFA87C 50%, #FF9C83 75%, #FF8A8B 100%);
        text-decoration: none;
        color: #fff;
        box-shadow: 0px 2px 10px 0px rgba(42, 3, 0, 0.2);
        outline: none;
    }
}
.cta-button-large{
    background: -webkit-linear-gradient(left, #FF9363 0%, #FF8661 25%, #FF795F 50%, #FF6B5C 75%, #FF5B5A 100%);
    color: #fff;
    font-weight: 600;
    line-height: 1.375rem;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 18px 32px 20px 32px;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-weight: 600;
    box-shadow: 0px 1px 2px 0px rgba(42, 3, 0, 0.2);
    box-sizing: border-box;
    &:hover{
        background: -webkit-linear-gradient(left, #F8BB66 0%, #FFB075 25%, #FFA87C 50%, #FF9C83 75%, #FF8A8B 100%);
        text-decoration: none;
        color: #fff;
        box-shadow: 0px 2px 10px 0px rgba(42, 3, 0, 0.2);
    }
}

@keyframes animate {
    0% {
        bottom: -100px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}
h3, .h3{
    font-size: 2.125rem;
    line-height: 2.625rem;
    font-weight: 600;
}

h4{
    font-size: 1.375rem;
    line-height: 1.875rem;
    font-weight: 600;
}

.p-large{
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 300;
}
*{
    box-sizing: border-box;
    &::after{
        box-sizing: border-box;
    }
    &::before{
        box-sizing: border-box;
    }
}

.container{
    max-width: $maxContainerWidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    &::before{
        content: " ";
        display: table;
    }
    &::after{
        clear: both;    
        content: " ";
        display: table;
    }
}
.w25{
    width:25%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}
.w33{
    width:33.33%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}
.w50{
    width:50%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}
.black{
    background-color: #1E2733;
    color: #fff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
.hello-button{
    background: linear-gradient(-180deg, #FFFFFF 0%, #F0F4F9 100%);
    border-radius: 3px;
    border: 1px solid #B8C7D9;
    color: #3C495A;
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 1.125rem;
    padding: 8px 5px 8px 12px;
    width: 120px;
    box-shadow: 0px 1px 2px 0px rgba(42, 52, 67, 0.2);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(42, 52, 67, 0.2);
    -moz-box-shadow: 0px 1px 2px 0px rgba(42, 52, 67, 0.2);
}

.blue-button{
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 15px 60px;
    border-radius: 25px;
    background-color: #00a8ff;
    box-shadow: none;
    transition: box-shadow 400ms cubic-bezier(1, .013, 0, 1.007), background-color 400ms cubic-bezier(1, .001, 0, .989);
    font-size: 14px;
    font-weight: 500;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.u-clearfix:after {
    clear: both;
    content: "";
    display: table;
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece {
    background: rgba(9,45,66,.08);
}
#board::-webkit-scrollbar-track-piece {
    background: rgba(0,0,0,.15);
}
#board::-webkit-scrollbar-button {
    display: block;
    height: 4px;
    width: 4px;
}
.u-fancy-scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
#board::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &.fs{
        justify-content: flex-start;
    }
}

.divider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    &.white{
        :first-child{
            background-color: #fff;
        }
        :last-child{
            background-color: #fff;
        }
    }
    :first-child{
        width: 30px;
        border-radius: 20px;
        height: 5px;
        background-color: #00a8ff;
        margin-right: 10px;
    }
    :last-child{
        width: 15px;
        border-radius: 20px;
        height: 5px;
        background-color: #00a8ff;
    }
}


.react-pdf__Page__annotations{
    display: none;
}

.react-pdf__Page__textContent{
    div{
        &::selection{
            background: rgba(248, 226, 186,0.5);
        }
    }
}

.btn{
    appearance: none;
    border-radius: 4px;
    border: none;
    transition: all 200ms ease;
    cursor: pointer;
    &:hover{
        background-color: rgba(0,0,0,0.1);
    }
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
    label {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #222;
        img{
            width: 15px !important;
        }
    }
    input{
        width: 100%;
        display: block;
        border: none;
        border-bottom: 1px solid #999;
        padding: 6px 30px;
        box-sizing: border-box;
        outline: none;
    }
    textarea{
        width: 100%;
        display: block;
        outline: none;
        appearance: none;
        border:none;
        resize: none;
        padding: 5px;
        border-radius: 5px;
        font-size: 16px;
    }
}

.custom-input{
    appearance: none;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.btnl{
    appearance: none;
    outline: none;
    background-color: #6dabe4;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 200ms ease;
    &.lk{
        padding: 3px 10px;
    }
    &:hover{
        box-shadow: 0px 0px 20px 0px #24c1d5;
    }
    &:disabled{
        background-color: #ccc;
        cursor: not-allowed;
        &:hover{
            box-shadow: 0px 0px 0px 0px #ccc;
        }
    }
}

.progress {
    position: fixed;
    height: 5px;
    display: block;
    width: 100%;
    background-color: lighten($progress-bar-color, 40%);
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    .determinate {
      position: absolute;
      background-color: inherit;
      top: 0;
      bottom: 0;
      background-color: $progress-bar-color;
      transition: width .3s linear;
    }
    .indeterminate {
      background-color: $progress-bar-color;
      &:before {
        content: '';
        position: absolute;
        background-color: inherit;
        top: 0;
        left:0;
        bottom: 0;
        will-change: left, right;
        // Custom bezier
        animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  
      }
      &:after {
        content: '';
        position: absolute;
        background-color: inherit;
        top: 0;
        left:0;
        bottom: 0;
        will-change: left, right;
        // Custom bezier
        animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation-delay: 1.15s;
      }
    }
  }

  @include keyframes(indeterminate) {
    0% {
      left: -35%;
      right:100%;
    }
    60% {
      left: 100%;
      right: -90%;
    }
    100% {
      left: 100%;
      right: -90%;
    }
  }
  
  @include keyframes(indeterminate-short) {
    0% {
      left: -200%;
      right: 100%;
    }
    60% {
      left: 107%;
      right: -8%;
    }
    100% {
      left: 107%;
      right: -8%;
    }
  }

  .form-elem{
      display: block;
      margin: 20px 0px;
      input[type="text"]{
        width: 100%;
        display: block;
        border: none;
        border-bottom: 1px solid #999;
        padding: 6px 3px;
        box-sizing: border-box;
        outline: none;   
        background: none;
      }
  }

.modal-backdrop{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
      background-color: rgba(0,0,0,0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      .modal{
          background-color: #fff;
          border-radius: 10px;
          min-width: 500px;
          padding-bottom: 30px;
          position: relative;
          .close-btn{
              position: absolute;
              top:20px;
              right: 20px;
              width: 20px;
              height: 20px;
              border-radius: 5px;
              background-image: url("../images/close.svg");
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              cursor: pointer;
              transition: all 0.2s ease;
              &:hover{
                  opacity: 0.7;
              }
          }
          .mtitle{
              padding: 20px 30px;
              font-size: 28px;
          }
          .mcontent{
              padding: 20px 30px;
          }
          .mactions{
              display: flex;
              justify-content: center;
          }
      }
}

.witsy-chip{
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}