@font-face {
    font-family: 'Gibson-Bold';
    src: url('../fonts/Gibson-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson-Regular2';
    src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}